<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{appMain.config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="logo">
        <span>SAKAI</span>
    </a>

    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
         <a *ngIf="light" (click)="changeTheme('aura-dark-blue', true)" class="p-link layout-topbar-button">
            <i class="pi pi-moon"></i>
            <span>Light</span>
        </a>
         <a *ngIf="!light" (click)="changeTheme('aura-light-blue', false)" class="p-link layout-topbar-button">
            <i class="pi pi-sun"></i>
            <span>Dark</span>
        </a>
        <!-- <a href="#" class="p-link layout-topbar-button">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </a> -->
        <a (click)="activedProfile()" class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </a>
    </div>
</div>

<p-sidebar [(visible)]="profile" position="right"  styleClass="w-25rem">
    <ng-template pTemplate="header">
        <div class="flex flex-column ">
            <h5>Selamat datang</h5>
            <small>Davin Metoti</small>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <a
            class="cursor-pointer flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round hover:surface-hover transition-colors transition-duration-150"><span><i
                    class="pi pi-user text-xl text-primary"></i></span>
            <div class="ml-3"><span class="mb-2 font-semibold">Profile</span>
                <p class="text-color-secondary m-0">Lorem ipsum date visale</p>
            </div>
        </a>
        <a
            class="cursor-pointer flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round hover:surface-hover transition-colors transition-duration-150"><span><i
                    class="pi pi-sign-out text-xl text-primary"></i></span>
            <div class="ml-3"><span class="mb-2 font-semibold">Logout</span>
                <p class="text-color-secondary m-0">Lorem ipsum date visale</p>
            </div>
        </a>
        <div class="flex flex-column mt-5 mx-auto md:mx-0 ng-tns-c2903228607-0"><span
                class="mb-2 font-semibold">Konfigurasi</span><span class="text-color-secondary font-medium mb-5">Konfigurasi akun anda</span>
            <ul class="list-none m-0 p-0">
                <li>
                    <a routerLink="auth/forgot-password" class="cursor-pointer flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round hover:surface-hover transition-colors transition-duration-150"><span>
                        <i class="pi pi-question-circle text-xl text-primary"></i></span>
                        <div class="ml-3"><span class="mb-2 font-semibold">Forgot Password</span>
                            <p class="text-color-secondary m-0">Change your password here</p>
                        </div>
                    </a>
                </li>
                <li><a routerLink="auth/new-password" class="cursor-pointer flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round hover:surface-hover transition-colors transition-duration-150"><span><i
                                class="pi pi-cog text-xl text-primary"></i></span>
                        <div class="ml-3"><span class="mb-2 font-semibold">New Password</span>
                            <p class="text-color-secondary m-0">Create your new password</p>
                        </div>
                    </a></li>
                <li><a routerLink="auth/verification" class="cursor-pointer flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round hover:surface-hover transition-colors transition-duration-150"><span><i
                                class="pi pi-envelope text-xl text-primary"></i></span>
                        <div class="ml-3"><span class="mb-2 font-semibold">Verification</span>
                            <p class="text-color-secondary m-0">Input OTP here to verification</p>
                        </div>
                    </a></li>
            </ul>
        </div>
    </ng-template>
    <ng-template pTemplate="footer"><small>Template sakai modified by Davin Metoti</small></ng-template>
</p-sidebar>