<div class="container-fluid">
    <p-panel header="Security settings">
        <div class="panel-body">
            <!-- <div class="grid">
                <div class="upload-file upload-file-button mb-3 col-12">
                    <input type="file" (change)="onFileChange($event)" id="fileInput" accept=".pdf" />
                    <label for="fileInput" class="text-center mr-2"><i class="pi pi-file-pdf mr-2"></i> Upload File PDF</label>
                    <span *ngIf="pdfFile" class="file-name">{{ pdfFile.name }}</span>
                </div>
            </div> -->
            <!-- <div class="grid">
                <div class="col">
                    <b>Set password</b> (require owner password)
                </div>
            </div> -->
            <div class="grid">
                <div class="col-3">
                    <input type="text" pInputText class="form-control" placeholder="User password"
                        [(ngModel)]="opts.userPassword" />
                </div>
                <div class="col-3">
                    <input type="text" pInputText class="form-control" placeholder="Owner password"
                        [(ngModel)]="opts.ownerPassword" />
                </div>
            </div>
            <hr />
            <div class="grid">
                <div class="col">
                    <b>Set version PDF</b> (optional)
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-dropdown [(ngModel)]="opts.version" [options]="optionItems" optionLabel="label"
                        placeholder="PDF version"></p-dropdown>
                </div>
            </div>
            <hr />
            <div class="grid">
                <div class="col">
                    <b>Permissions</b> (require owner password)
                </div>
            </div>
            <div class="grid">
                <div class="col-3">
                    <div class="mb-2">
                        <p-checkbox binary="true" label="Annotating"
                            [(ngModel)]="opts.permissions.annotating"></p-checkbox>
                    </div>
                    <div class="mb-2">
                        <p-checkbox binary="true" label="ContentAccessibility"
                            [(ngModel)]="opts.permissions.contentAccessibility"></p-checkbox>
                    </div>
                    <div class="mb-2">
                        <p-checkbox binary="true" label="Copying" [(ngModel)]="opts.permissions.copying"></p-checkbox>
                    </div>
                    <div class="mb-2">
                        <p-checkbox binary="true" label="DocumentAssembly"
                            [(ngModel)]="opts.permissions.documentAssembly"></p-checkbox>
                    </div>
                    <div class="mb-2">
                        <p-checkbox binary="true" label="FillingForms"
                            [(ngModel)]="opts.permissions.fillingForms"></p-checkbox>
                    </div>
                    <div class="mb-2">
                        <p-checkbox binary="true" label="Modifying"
                            [(ngModel)]="opts.permissions.modifying"></p-checkbox>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-2">Printing</div>
            </div>
            <div class="grid">
                <div class="col-6">
                    <div class="flex flex-wrap gap-3">
                        <p-radioButton name="printing" [value]="PdfPrintPermissionEnum.NotAllowed" label="NotAllowed"
                            [(ngModel)]="opts.permissions.printing"></p-radioButton>
                        <p-radioButton name="printing" [value]="PdfPrintPermissionEnum.AllowLowResolution"
                            label="AllowLowResolution" [(ngModel)]="opts.permissions.printing"></p-radioButton>
                        <p-radioButton name="printing" [value]="PdfPrintPermissionEnum.AllowHighResolution"
                            label="AllowHighResolution" [(ngModel)]="opts.permissions.printing"></p-radioButton>
                    </div>
                </div>
            </div>
        </div>
        <div class="field text-right">
            <button class="p-button-info" pButton pRipple (click)="drawPdf()">Draw PDF</button>
        </div>
    </p-panel>
</div>